@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-marker: var(--font-marker);
  --color-leaf-100: #e8f1fb;
  --color-leaf-200: #414141;
  --color-leaf-400: #338bd5;
  --color-leaf-700: #2d1f93;
  --color-leaf-900: #2e2e2e;
  --color-leaf-950: #1b1b1b;
}
