@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-leaf-100: #CFF09E;
  --color-leaf-200: #A8DBA8;
  --color-leaf-400: #4D9C73;
  --color-leaf-700: #245151;
  --color-leaf-900: #0B486B;
  --color-leaf-950: #083a58;
}
